<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/719a71f4-7fd9-4469-88aa-0aad6b499dab/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/T2207A-API</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://t2207a-api.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://t2207a-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$T2207A-API</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>